html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* LAYOUT */

.title {
    font-size: 4rem;
    text-align: center;
    margin: 1em 0 0.4em 0;
}

#color-container {
    display: flex;
}

.color-scheme-column {
    background: none;
    width: 15vw;
    min-width: 78px;
    height: 390px;
}

.hex-values-display {
    position: relative;
    top: 380;
    left: 10;
    font-size: 1.3rem;
    cursor: pointer;
}

.hex-values-display:hover {
    color: lightblue;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#color-scheme-form {
    display: flex;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
}

#seed-color,
#color-scheme-selector,
input[type=submit] {
    margin-top: 5px;
    margin-bottom: 5px;
}

#seed-color {
    width: 55px;
    height: 40px;
    border: 0.1px solid #c4c4c4;
    cursor: pointer;
}

#color-scheme-selector {
    width: 312px;
    height: 42px;
    left: 87px;
    top: 23px;
    
    /* white */
    background: #FFFFFF;
    
    /* gray/300 */
    border: 1px solid #D1D5DB;

    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    cursor: pointer;
}

input[type=submit] {
    width: 123px;
    height: 42px;
    left: 412px;
    top: 23px;
    
    /* white */
    background: #FFFFFF;
    
    /* gray/300 */
    border: 1px solid #D1D5DB;
    
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    cursor: pointer;
}

/* MEDIA QUERIES */

@media (min-width: 546px) {
    form {
       flex-direction: row;
    }

    .color-scheme-column {
        width: 110px;
        height: 550px;
    }

    #seed-color,
    #color-scheme-selector,
    input[type=submit] {
        margin-left: 5px;
        margin-right: 5px;
    }

    .hex-values-display {
        position: relative;
        top: 545;
        left: 20;
        font-size: 1.5rem;
        cursor: pointer;
    }
}